{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Namangan gilam yuvish xizmati</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Gilam yuvish xizmati, стирка ковров наманган, mebel yuvish namangan, gilam yuvish, gilam yuvish namangan, Gilamchi.Bola, namangan gilam yuvish ximzati, namangan gilam yuvish, mebel yuvish xizmati" name="keywords">
        <meta content="Namangan Gilam Yuvish Xizmati" name="description">
        <meta name="google-site-verification" content="N4m1SzIu1u0ki2VFT0A990LRQawxhRUfCJgKV7qK988" />
        <!-- Favicon -->
 
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet">
        
        <!-- CSS Libraries -->
        <link rel="stylesheet" href="https://example.com/path/to/your-icon-library.css">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'style.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="wrapper">
            <!-- Header Start -->
            <div class="header home">
                <div class="container-fluid">
                    <div class="header-top row align-items-center d-flex justify-content-between">
                        <div>
                            <div class="brand ">
                                <a href="{% url 'buyurtma_olish' %} " class="d-flex logo-link align-items-center">
                                    <img src="{% static 'logo.png' %}" alt="Logo" class="logo">
                                    <h2>Gilamchi.Bola</h2>
                                </a>
                            </div>
                        </div>
                        <div >
                            <div class="topbar">
                                <div class="topbar-col">
                                    <a href="tel:+998913142003"><i class="fa fa-phone-alt"></i>+998913142003</a>
                                </div>
                                <div class="topbar-col">
                                    <a href="tel:+998976643331"><i class="fa fa-phone-alt"></i>+998976643331</a>
                                </div>                                <div class="topbar-col">
                                    <a href="mailto:gilamchibola@gmail.com"><i class="fa fa-envelope"></i>gilamchibola@gmail.com</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="hero row align-items-center">
                        <div class="col-md-7">
                            <h2>Sifatli & Ishonchli</h2>
                            <h2><span>Tozalash</span> Xizmati</h2>
                            <p>Namangan bo'ylab jihozlaringizni olib, yetkazib berish bepul</p>
                            <h3 class="metres">1m²=10.000 so'm</h3>
                        </div>
                        <div class="col-md-5">
                            <div class="form">
                                <h3><strong>Buyurtma Berish</strong></h3><br>
                                <form method="post" class="form_list" action="">
                                    {{form}}
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-block">Buyurtma Berish</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="icons">
                <div class="one-step">
                    <img src="{% static 'buyurtma.png' %}" alt="" class="first">
                    <h3>Telefon yoki sayt orqali buyurtma berishingiz mumkin    </h3>
                </div>
                <div class="one-step">
                    <img src="{% static 'phone.png' %}" alt="" class="first">
                    <h3>Tez orada operatorlarimmiz siz bilan bog'lanishadi</h3>
                </div>
                <div class="one-step">
                    <img src="{% static 'olibketish.png' %}" alt="" class="first">
                    <h3>Hodimlarimmiz jihozlaringizni olib ketishadi</h3>
                </div>
                <div class="one-step">
                    <img src="{% static 'done.png' %}" alt="" class="second">
                    <h3>Jihozlaringiz tajribali hodimlarimmiz tomonidan yuviladi</h3>
                </div>
                <div class="one-step">
                    <img src="{% static 'olibkelish.png' %}" alt="" class="second">
                    <h3>Jihozlaringizni uyingizga yetkazib beramiz</h3>
                </div>
                <div class="one-step">
                    <img src="{% static 'tozalik.png' %}" alt="" class="second">
                    <h3>Uyingizga tozalik va ozodalik yana qaytadi</h3>
                </div>
            </div>
            <div class="footer">
                <div class="container">
                            <div class="footer-contact">
                                <p><i class="fa fa-map-marker-alt"></i>Uzbekistan/Namangan</p>
                                <p><i class="fa fa-phone-alt"></i>+998913142003</p>
                                <p><i class="fa fa-phone-alt"></i>+998976643331</p>
                                <p><i class="fa fa-envelope"></i>gilamchibola@gmail.com</p>
                            </div>
                <div class="messengers">
                    <a href="https://t.me/gilamchibola" class="tg">
                        <img src="{% static 'telegram.png' %}" alt="">
                        <h6>Telegram</h6>
                    </a>
                    <a href="https://www.instagram.com/gilamchi.bola?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
                        <img src="{% static 'instagram.png' %}" alt="">
                        <h6>Instagram</h6>
                    </a>
                    <a href="https://chat.whatsapp.com/H3pchbAwgfG0Uv0pa8aGdt">
                        <img src="{% static 'whatsapp.png' %}" alt="">
                        <h6>Whatsapp</h6>
                    </a>
                </div>
    </body>
</html>
